<h2>User Details</h2>

<hr />
<div *ngIf="user">
  <div>
    <label><b>Enabled: </b> {{ user.enabled }}</label>
    <label><b>Activated: </b> {{ user.activated }}</label>
    <label><b>Name: </b> {{ user.name }}</label>
    <label><b>Username: </b> {{ user.username }}</label>
    <label><b>Email: </b> {{ user.email }}</label>
    <label><b>User Group: </b> {{ user.user_group }}</label>
    <label><b>Last Visit: </b> {{ user.last_visit }}</label>
    <label><b>Registered: </b> {{ user.created_at }}</label>
    <label><b>ID: </b> {{ user.id }}</label>
  </div>
</div>

<br />
<br />
<button (click)="list()" class="btn btn-primary">Back to User List</button
><br />
