<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="user.name"
        name="user_name"
      />
    </div>

    <div class="form-group">
      <label for="name">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        [(ngModel)]="user.username"
        name="user_username"
      />
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="user.email"
        name="user_email"
      />
    </div>

    <div class="form-group">
      <label for="name">Last Visit</label>
      <input
        type="datetime-local"
        class="form-control"
        id="last_visit"
        required
        [(ngModel)]="user.last_visit"
        name="user_last_visit"
      />
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select id="role" name="user_user_group" class="custom-select" [(ngModel)]="user.user_group">
        <option selected>List of roles</option>
        <option value="admin" [value]="'admin'">Admin</option>
        <option value="registered" [value]="'registered'">Registered</option>
      </select>
    </div>

    <div class="custom-control custom-switch">
      <input
        name="user_activated"
        [(ngModel)]="user.activated"
        type="checkbox"
        class="custom-control-input"
        id="activated"
      />
      <label class="custom-control-label" for="activated">Is active?</label>
    </div>

    <div class="custom-control custom-switch">
      <input
        [(ngModel)]="user.enabled"
        name="user_enabled"
        type="checkbox"
        class="custom-control-input"
        id="enabled"
      />
      <label class="custom-control-label" for="enabled">Is enabled?</label>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newUser()">Add</button> -->
</div>
