<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/users" class="nav-link" routerLinkActive="active"
        >User List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/add" class="nav-link" routerLinkActive="active"
        >Add User</a
      >
    </li>
  </ul>
</nav>
<div class="container">
  <br />
  <h2 style="text-align: center;">{{ title }}</h2>
  <hr />
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
