<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>User List</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Enabled</th>
          <th>Activated</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>User Group</th>
          <th>Last Visit</th>
          <th>Registered</th>
          <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | keyvalue">
          <td>{{ user.value.enabled }}</td>
          <td>{{ user.value.activated }}</td>
          <td>{{ user.value.name }}</td>
          <td>{{ user.value.username }}</td>
          <td>{{ user.value.email }}</td>
          <td>{{ user.value.user_group }}</td>
          <td>{{ user.value.last_visit }}</td>
          <td>{{ user.value.created_at }}</td>
          <td>{{ user.value.id }}</td>
          <td>
            <button (click)="deleteUser(user.value.id)" class="btn btn-danger">
              Delete
            </button>
            <button
              (click)="userDetails(user.id)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              Details
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
